<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/wags.css') }}">
    <Title>{{ title }}</title>
</head>
<body>
<h2>{{ title }}</h2>

<table>
    <tr>
        <td class="head"><b>Winner:</b></td>
        <td id="winner">{{ winner }}</td>
    <tr>
        <td class="head"><b>Nearest the Pin:</b></td>
        <td id="ntp">{{ ntp }}</td>
    <tr>
        <td class="head"><b>Longest Drive:</b></td>
        <td id="ld">{{ ld }}</td>
</table>
<p id="report">{{ report }}</p>
<p id="month_year">&#169; Wimbledon Ancient Golf Society<br> {{ month_year }}</p>
</body>
</html>