{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <body onLoad = "updateAll()">
    {{ super() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ form.event_name.data }}</h1>
    <b>Player</b> {{ form.player.data }} <b>Handicap</b> <span id="handicap">{{ form.handicap.data }}</span>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <div class="table-responsive col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hole</th>
                <th>Par</th>
                <th>Index</th>
                <th>Shots</th>
                <th>Points</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.scoresOut %}
            <tr>
                <td>{{ item.hole.data }}</td>
                <td id="{{ 'scoresOut-' ~ loop.index0 ~ '-par' }}">{{ item.par.data }}</td>
                <td id="{{ 'scoresOut-' ~ loop.index0 ~ '-si' }}">{{ item.si.data }}</td>
                <td onchange="updatePoints(this); updateTotals()">{{ item.shots(size=2) }}</td>
                <td id="{{ 'scoresOut-' ~ loop.index0 ~ '-points' }}">{{ item.points.data }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Out</b></td>
                <td></td>
                <td></td>
                <td><b id="scoresOut-totalShots">{{ form.totalShotsOut.data }}</b></td>
                <td><b id="scoresOut-totalPoints">{{ form.totalPointsOut.data }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hole</th>
                <th>Par</th>
                <th>Index</th>
                <th>Shots</th>
                <th>Points</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.scoresIn %}
            <tr>
                <td>{{ item.hole.data }}</td>
                <td id="{{ 'scoresIn-' ~ loop.index0 ~ '-par' }}">{{ item.par.data }}</td>
                <td id="{{ 'scoresIn-' ~ loop.index0 ~ '-si' }}">{{ item.si.data }}</td>
                <td onchange="updatePoints(this); updateTotals()">{{ item.shots(size=2) }}</td>
                <td id="{{ 'scoresIn-' ~ loop.index0 ~ '-points' }}">{{ item.points.data }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>In</b></td>
                <td></td>
                <td></td>
                <td><b id="scoresIn-totalShots">{{ form.totalShotsIn.data }}</b></td>
                <td><b id="scoresIn-totalPoints">{{ form.totalPointsIn.data }}</b></td>
            </tr>
             <tr>
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td><b id="totalShots">{{ form.totalShots }}</b></td>
                <td><b id="totalPoints">{{ form.totalPoints }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
    {{ form.totalShotsReturn }}
    {{ form.totalPointsReturn }}
    <hr/>
    {%if form.editable.data == 'y' %}
    {{ form.save_card(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('.static', filename='scripts/event_card.js')}}"></script>
{{super()}}
{% endblock %}