{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Events {{ year }}</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table width="100%" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Event</th>
            <th>Venue</th>
            <th class="text-center">Details</th>
            <th class="text-center">Result</th>
            <th class="text-center">Hcaps</th>
        </tr>
        </thead>
        <tbody>
        {% for item in form.event_list %}
        <tr>
            <td>{{ item.num.data }}</td>
            <td>{{ item.date.data }}</td>
            <td>{{ item.event.data }}</td>
            <td>{{ item.venue.data }}</td>
            <td align="center">
                {{ render_link(
                    url=url_for('edit_event', year=year, event_id=item.num.data, event_type=item.event_type.data),
                    image=url_for('static', filename='images/go.jpg'),
                    text='View/Edit event'
                )|safe }}
            </td>
            {%if item.event_type.data != 'non_event' %}
                <td align="center">
                    {{ render_link(
                        url=url_for('results_event', year=year, event_id=item.num.data),
                        image=url_for('static', filename='images/go.jpg'),
                        text='View/Enter results'
                    )|safe }}
                </td>
                {%if item.event_type.data == 'wags_vl_event' %}
                    <td align="center">
                        {{ render_link(
                            url=url_for('handicaps_event', year=year, event_id=item.num.data),
                            image=url_for('static', filename='images/go.jpg'),
                            text='View/Enter handicaps'
                        )|safe }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>
    {%if form.editable.data %}
        {{ form.add_event(class="btn btn-primary") }}
        {{ form.add_tour(class="btn btn-primary") }}
        {{ form.add_non(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}