{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Venue {{ venue_id }}</h1>
</div>

<form method="POST">
    {{ form.csrf_token }}
    <table width="100%">
        <tr>
            <td>{{ form.name.label }}</td><td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ form.url.label }}</td><td>{{ form.url }}</td>
        </tr>
        <tr>
            <td>{{ form.phone.label }}</td><td>{{ form.phone }}</td>
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td><td>{{ form.post_code }}</td>
        </tr>
        <tr>
            <td>{{ form.address.label }}</td><td>{{ form.address(rows='5',cols='110') }}</td>
        </tr>
        <tr>
            <td>{{ form.directions.label }}</td><td>{{ form.directions(rows='5',cols='110') }}</td>
        </tr>
    </table>
        <hr/>
    {%if form.editable.data %}
        {{ form.submit(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}