{% extends "bootstrap/base.html" %}

{% block title %}WAGS admin{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">WAGS admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('events_main') }}">Events</a></li>
                <li><a href="{{ url_for('accounts_main') }}">Accounts</a></li>
                <li><a href="{{ url_for('venues_main') }}">Venues</a></li>
                <li><a href="{{ url_for('members_main') }}">Members</a></li>
                <li><a href="{{ url_for('news_main') }}">News</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% macro render_field(field) %}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
  {% endif %}
{% endmacro %}
