{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <body onLoad = "updateParTotals()">
    {{ super() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Course Card</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table style="width:100%"><tbody>
        <td>
            {{ form.course_name.label }} {{ form.course_name(size=40, required='required') }}
        </td>
        <td> </td>
        <td>
            {{ form.sss.label }} {{ form.sss(size=2, required='required') }}
        </td>
    </tbody></table>
    <hr/>
    <div class="table-responsive col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hole</th>
                <th>Par</th>
                <th>Index</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.holesOut %}
            <tr>
                <td>{{ item.hole.data }}</td>
                <td onchange="updateParTotals()">{{ item.par(size=2, required='required') }}</td>
                <td>{{ item.si(size=2, required='required') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Out</b></td>
                <td><b id="holesOut-totalPar">{{ form.totalParOut }}</b></td>
                <td></td>
          </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hole</th>
                <th>Par</th>
                <th>Index</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.holesIn %}
            <tr>
                <td>{{ item.hole.data }}</td>
                <td onchange="updateParTotals()">{{ item.par(size=2, required='required') }}</td>
                <td>{{ item.si(size=2, required='required') }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>In</b></td>
                <td><b id="holesIn-totalPar">{{ form.totalParIn }}</b></td>
                <td></td>
            </tr>
             <tr>
                <td><b>Total</b></td>
                <td><b id="totalPar">{{ form.totalPar }}</b></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    {{ form.totalShotsReturn }}
    {{ form.totalPointsReturn }}
    <hr/>
    {%if form.editable %}
        {{ form.save_card(class="btn btn-primary") }}
    {% endif %}
    <span>{{ form.editable }} {{ form.new_course }}</span>
</form>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('.static', filename='scripts/event_card.js')}}"></script>
{{super()}}
{% endblock %}