{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ form.event_name.data }}</h1>
    <h2>Handicaps from {{ form.new_date.data }}</h2>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table width="100%" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Strokes</th>
            <th>Score</th>
            <th>Handicap</th>
            <th class="text-center">History</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in form.scores %}
        <tr>
            <td>{{ item.num.data }}</td>
            <td>{{ item.player.data }}</td>
            <td>{{ item.strokes.data }}</td>
            <td>{{ item.points.data }}</td>
            {%if form.editable %}
                <td>{{ item.handicap(size=10, type="number", min="0.1", max="36", step="0.1") }}</td>
            {% else %}
                <td>{{ item.handicap.data }}</td>
            {% endif %}
            <td align="center">
                {{ render_link(
                    url=url_for('event_handicap_history_player', event_id=form.event_id.data, player_id=item.player_id.data),
                    image=url_for('static', filename='images/right-arrow.png'),
                    text='Show handicap history for ' + item.player.data
                )|safe }}
            </td>
            {%if form.editable %}
                <td>{{ item.player_id }}</td>
                <td>{{ item.status_return }}</td>
                <td>{{ item.old_handicap }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>
    {%if form.editable.data %}
    {{ form.save_handicaps(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}