{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ form.event_name.data }}</h1>
    <h2>Add Player</h2>
</div>

<form method="POST">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>{{ form.member.label }} {{ form.member }}</td>
        </tr>
        <tr>
            <td><i>or</i></td>
        </tr>
        <tr>
            <td>{{ form.guest_name.label }} {{ form.guest_name }}</td><td>&nbsp;</td><td>{{ form.guest_handicap.label }} {{ form.guest_handicap }}</td>
        </tr>
    </table>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}