{% extends "admin/base.html" %}

{% block page_content %}
<div class="page-header">
    <h2 class="table-title">{{ form.event_name.data }}</h2>
    <h3 class="table-title">All bookings</h3>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <table class="table table-striped">
        <tr>
            <th align="left" class="bottom">Date</th>
            <th align="left" class="bottom">Name</th>
            <th class="text-center">Playing?</th>
            <th align="left" class="bottom">Playing<br>Handicap</th>
            <th align="left" class="bottom">Guests - WHS<br>Handicap</th>
            <th align="left" class="bottom" style="width:40%">Comment</th>
        </tr>
        {% for item in form.bookings %}
        <tr>
            <td>{{ item.date.data or '' }}</td>
            {%if form.editable.data and item.guest.data.data %}
                <td>{{ item.player_name(size="25") }}</td>
            {% else %}
                <td>{{ item.player_name.data }}</td>
            {% endif %}
            {%if form.editable.data %}
                <td align="center">{{ item.playing }}</td>
            {% else %}
                <td align="center">{%if item.playing.data %}y{% else %}n{% endif %}</td>
            {% endif %}
            <td>{%if item.playing.data %}{{ item.playing_hcap.data }}{% else %} {% endif %}</td>
            {%if form.editable.data and item.guest.data.data %}
                <td>{{ item.whs_hcap(size=8, type="number", min="0.1", max="54", step="0.1") }}</td>
            {% else %}
                <td>{{ item.whs_hcap.data or '' }}</td>
            {% endif %}
            <td>{{ item.comment.data or '' }}</td>
        </tr>
        {{ item.member_id }}
        {{ item.booking_id }}
        {{ item.guest_id }}
        {% endfor %}
    </table>
    <hr/>
    {%if form.editable.data %}
        {{ form.add_player(class="btn btn-primary") }}
        {{ form.save_bookings(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}