{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Wag: {{ form.first_name.data }} {{ form.last_name.data }}</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <table width="100%">
        <tr>
            <td>{{ form.status.label }}</td><td>{{ form.status }}</td>
        </tr>
        <tr>
            <td>{{ form.proposer.label }}</td><td>{{ form.proposer }}</td>
        </tr>
        <tr>
            <td>{{ form.first_name.label }}</td><td>{{ form.first_name(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.last_name.label }}</td><td>{{ form.last_name(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label }}</td><td>{{ form.email(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.address.label }}</td><td>{{ form.address(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td><td>{{ form.post_code(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.accepted_date.label }}</td><td>{{ form.accepted_date(type="date", size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.phone.label }}</td><td>{{ form.phone(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.handicap.label }}</td><td>{{ form.handicap(size=10, type="number", min="0.1", max="36", step="0.1") }}
             &nbsp;{{ form.as_of.label }} {{ form.as_of(type="date") }}</td>
        </tr>
    </table>
    <hr/>
    {{ form.save(class="btn btn-primary") }}
</form>
{% endblock %}