{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>WAGS Members {{ year }}</h1>

</div>
<form method="POST">
    {{ form.csrf_token }}
    <table>
        <tbody>
        <tr>
            <td>{{ form.member}}</td><td>&nbsp;</td><td>{{ form.edit_member(class="btn btn-primary") }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align=right>or</td><td></td><td>{{ form.add_member(class="btn btn-primary") }}</td>
        </tr>
        </tbody>
    </table>
</form>
<p>&nbsp;</p>
<p>
    <a href="/static/wagsappl.htm">Membership Application Form (printable)</a>
</p>
{% endblock %}
