{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>News</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table>
        <tbody>
        <tr>
            <td>{{ form.news_item}}</td><td>&nbsp;</td><td>{{ form.edit_news(class="btn btn-primary") }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align=right>or</td><td></td><td>{{ form.add_news(class="btn btn-primary") }}</td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}