{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ year }} {{ event_type_desc }} (event {{ event_id }})</h1>
</div>

<form method="POST">
    {{ form.csrf_token }}
    <table width="100%">
        <tr>
            <td>{{ form.venue.label }}</td>
            <td>
                {{ form.venue }}
                {% for error in form.venue.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
            <td>{{ form.organiser.label }}</td><td>{{ form.organiser }}</td>
        </tr>
        <tr>
            <td>{{ form.trophy.label }}</td><td>{{ form.trophy }}</td>
            <td>{{ form.date.label }}</td><td>{{ form.date(required='required') }}</td>
        </tr>
        <tr>
            <td>{{ form.member_price.label }} £</td><td>{{ form.member_price(size = 6) }}</td>
            <td>{{ form.guest_price.label }} £</td><td>{{ form.guest_price(size = 6) }}</td>
        </tr>
        <tr>
            <td>{{ form.start_booking.label }}</td><td>{{ form.start_booking }}</td>
            <td>{{ form.end_booking.label }}</td><td>{{ form.end_booking }}</td>
        </tr>
        <tr>
            <td>{{ form.max.label }}</td><td>{{ form.max(size = 6) }}</td>
        </tr>
    </table>
    <h3>Schedule</h3>
    <table>
        <thead>
        <tr>
            <th>Date</th><th>Course</th>
        </tr>
        </thead>
        <tbody>
        {% for item in form.tour_schedule %}
        <tr>
            <td>{{ item.date }}</td><td>{{ item.course }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form.note.label }}
    <br>
    {{ form.note(rows='5',cols='110') }}
    {{ form.event_type }}
    <hr/>
    {%if form.editable %}
        {{ form.submit(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}