{% extends "admin/base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Venues</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table>
        <tbody>
        <tr>
            <td>{{ form.venue}}</td><td>&nbsp;</td><td>{{ form.edit_venue(class="btn btn-primary") }}</td>
        </tr>
        {%if form.editable %}
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=right>or</td><td></td><td>{{ form.add_venue(class="btn btn-primary") }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}