{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Venue {{ venue_id }}</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    <table width="100%">
        <tr>
            <td>{{ form.name.label }}</td><td>{{ form.name(size='100') }}</td>
        </tr>
        <tr>
            <td>{{ form.url.label }}</td><td>{{ form.url(size='100') }}</td>
        </tr>
        <tr>
            <td>{{ form.phone.label }}</td><td>{{ form.phone(size='100') }}</td>
        </tr>
        <tr>
            <td valign="top">{{ form.address.label }}</td><td>{{ form.address(rows='6',cols='101') }}</td>
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td><td>{{ form.post_code(size='100') }}</td>
        </tr>
        <tr>
            <td valign="top">{{ form.directions.label }}</td><td>{{ form.directions(rows='6',cols='101') }}</td>
        </tr>
        <tr>
            <td valign="top">{{ form.courses.label }}</td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Card</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in form.courses %}
                    <tr>
                        <td>{{ item.form.name }}</td>
                        <td align="center">
                            {{ render_link(
                                url=url_for('edit_course', venue_id=form.venue_id, course_id=item.form.id.data),
                                image=url_for('static', filename='images/go.jpg'),
                                text='View/Edit course card'
                            )|safe }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {%if form.editable.data %}
                <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>{{ form.select_course }}</td>
                        <td>&nbsp;{{ form.add_course(class="btn btn-success") }}</td>
                        <td>&nbsp;{{ form.remove_course(class="btn btn-danger") }}</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>{{ form.new_course(class="btn btn-success") }}</td>
                    </tr>
                </table>
                {% endif %}
        </tr>
    </table>
    <hr/>
    {%if form.editable.data %}
        <p>{{ form.save(class="btn btn-primary") }}
    {% endif %}
</form>
{% endblock %}