<p>This is the new trophy which replaces the one "lost" in the Rose and Crown in January 2003. The new trophy, designed and executed by Hugh Saxby, is made from a variety of different woods:
<ul>
	<li>The base is Oak from a tree felled in Cottenham Park Road</li>
	<li>The pedestal is Iroko which is reclaimed from a Wimbledon FC goal post late of Plough Lane</li>
	<li>The "bread" of the sandwiches is Canadian Maple, the filling is MDF</li
	<li>The posts are Pine</li
	<li>The flag is Mahogany from a school chemistry lab workbench</li>
</ul>
The name plates were made and fitted by my neighbour, Harry.
<p>
<h3 class="table-title">Original Trophy</h3>
<img class="responsive-image center" src="http://www.wags.org/trophies/stembridge_sandwedge_old.jpg" ALT="the original Stembridge Sandwedge">
<br>