*		{font-family: arial, helvetica, sans-serif; box-sizing: border-box;}
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 2;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

BODY, TH, TD, P	{font-size: 10pt}
BODY	{background: white; background-color: white; color: black}
BODY	{
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0px;
}

H1, H2, H3, H4 {font-weight: 500}
H1		{color: #6E1285; font-size: 24pt}
H2		{color: #6E1285; font-size: 20pt;}
H3		{color: #6E1285; font-size: 16pt}
H4		{color: #6E1285; font-size: 12pt}
HR		{margin-top: 7px; margin-bottom: 7px; border: 0; border-top: 1px solid #ccc;}
HR.bold	{margin-top: 7px; margin-bottom: 7px; border: 0; border-top: 1px solid #777;}

A:link		    {color: #006233; text-decoration: none}
A:visited		{color: #006233; text-decoration: none}
A:active		{text-decoration: underline}
A:hover		    {font-weight: bold; text-decoration: underline}
A.button:link 	{color: black; text-decoration: none}
A.button:visited	{color: black; text-decoration: none}
A.button:active	{color: white; text-decoration: none}
A.button:hover	{color: white; text-decoration: none}

a.icon-block {
    display:inline-block;
    width:10em;
    float:left;
    text-align:center;
}
a.icon-block i {
    display:block;
    width:100%;
    clear:both;
}

IMG		{border-style: none}
TD.head		{color: #6E1285; font-weight: bold}
TD.h2		{color: #6E1285; font-size: 20pt}
TD.h3		{color: #6E1285; font-size: 16pt}
TD.h4		{color: #6E1285; font-size: 12pt}
TD.top3		{color: #6E1285}
TD.button	{text-align: center; background: #A16AAF}
TD.button1	{text-align: center; background: #98C0AD}
TD.button2	{text-align: center; background: #65A084}
TD.button3	{text-align: center; background: #006233}
.intro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
.page-header {margin: 0}
h2.table-title {color: #6E1285; font-size: 20pt; margin-top: 0px; margin-bottom: 10px; font-weight: bold}
h3.table-title {color: #6E1285; font-size: 16pt; margin-top: 0px; margin-bottom: 10px; font-weight: bold}
h4.table-title {color: #6E1285; font-size: 12pt; margin-top: 5px; margin-bottom: 5px; font-weight: bold}

table.list {border-spacing: 0px; background-color: white; line-height:23px}
table.list th {color: #6E1285; font-weight: bold; padding: 0px 2px 0px 2px}
table.list td {padding: 0px 3px 0px 3px}
table.list.result tr:nth-child(-n+3){color: #6E1285}

table.list.striped tr:nth-child(odd) { background-color: #ccc;}
table.list.striped tr:first-child {border-top: none; background-color: white}
table.list.striped tr:last-child {border-top: none; background-color: white}

.right  {float:right;}
.left   {float:left;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.top    {vertical-align: top}
.bottom {vertical-align: bottom}
.middle {vertical-align: middle}

.bold  {font-weight: bold}

responsive-image {  width: 60%;  height: auto; }