{% extends "user/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ form.first_name.data }} {{ form.last_name.data }} - Personal Details</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <table width="100%">
        <tr>
            <td>{{ form.first_name.label }}</td><td>{{ form.first_name(size='50') }}</td>
            <td  align=center rowspan=6><img src={{ form.mugshot.data }} width=107  alt="Mugshot"></td>
        </tr>
        <tr>
            <td>{{ form.last_name.label }}</td><td>{{ form.last_name(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label }}</td><td>{{ form.email(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.address.label }}</td><td>{{ form.address(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.post_code.label }}</td><td>{{ form.post_code(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.phone.label }}</td><td>{{ form.phone(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.club_membership.label }}</td><td>{{ form.club_membership(size='50') }}</td>
        </tr>
        <tr>
            <td>{{ form.whs_handicap.label }}</td><td>{{ form.whs_handicap(size=10, type="number", min="0.1", max="54", step="0.1") }}</td>
        </tr>
    </table>
    <hr/>
    {{ form.save(class="btn btn-primary") }}
</form>
{% endblock %}