{% extends "user/report_base.html" %}
{% block title %}Fixtures {{ year }}{% endblock %}
{% block content %}

<h2 class="table-title left">Fixtures {{ year }}</h2>
<h4 class="table-title right">{{ render_link(
        url=url_for('list_events', year=year-1),
        text='&#x25C4;'
        )|safe }}
        &nbsp;
        year
        &nbsp;
        {{ render_link(
        url=url_for('list_events', year=year+1),
        text='&#x25BA;'
        )|safe }}
</h4>
<table width="100%" class="list">
    <thead>
    <tr>
        <th align="left">Date</th>
        <th align="left">Event</th>
        <th align="left">Venue</th>
        <th align="center">Book</th>
        <th align="center">Result</th>
        <th align="center">Report</th>
    </tr>
    <tr><td colspan=6><hr class="bold"/></td>
    </thead>
    <tbody>
    {% for item in form.event_list %}
        {%if item.new_section.data %}
            <tr><td colspan=6><hr></td>
        {% endif %}
        <tr>
            <td>
            {%if item.event_type.data != 'wags_tour' %}
                {{ item.date.data }}
            {% endif %}
            </td>
            <td>
                {%if item.trophy_id.data %}
                    {{ render_link(
                            url=url_for('trophy_history', trophy_id=item.trophy_id.data),
                            text=item.event.data
                            )|safe }}
                {% else %}
                    {{ item.event.data }}
                {% endif %}
            </td>
            <td><a href={{ item.venue_url.data }} target="_blank">{{ item.venue.data }}</a></td>
            {%if item.event_type.data != 'non_event' %}
                {%if item.bookable.data == 1 %}
                    <td align="center">
                        {{ render_link(
                        url=url_for('book_event', event_id=item.num.data),
                        image=url_for('static', filename='images/go.png'),
                        text='Book event'
                        )|safe }}
                    </td>
                {%elif item.bookable.data == 0%}
                    <td align="center">
                        {{ render_link(
                        url=url_for('show_event', event_id=item.num.data),
                        image=url_for('static', filename='images/go.png'),
                        text='View event'
                        )|safe }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {%if item.result.data %}
                    <td align="center">
                        {{ render_link(
                        url=url_for('results_event', event_id=item.num.data),
                        image=url_for('static', filename='images/go.png'),
                        text='View results'
                        )|safe }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {%if item.result.data %}
                    <td align="center">
                        {{ render_link(
                        url=url_for('report_event', event_id=item.num.data),
                        image=url_for('static', filename='images/go.png'),
                        text='View event report'
                        )|safe }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    <tr><td colspan=6><hr class="bold"/></td>
    </tbody>
</table>
{% endblock %}