{% extends "user/report_base.html" %}
{% block title %}Handicaps{% endblock %}
{% block content %}
<H2>Handicaps</H2>
<table width="100%" class="list">
    <thead>
    <tr>
        <th>Name</th>
        <th align="center">Handicap</th>
        <th align="center">History</th>
        <th align="left">Name</th>
        <th align="center">Handicap</th>
        <th align="center">History</th>
    </tr>
    <tr><td colspan=6><hr class="bold"/></td>
    </thead>
    <tbody>
    {% for item in form.handicaps %}
    {% if item.item_pos.data == 2 %}
        <tr>
            <td>{{ item.player.data }}</td>
            <td align="center">{{ item.handicap.data }}</td>
            <td align="center">
                {{ render_link(
                    url=url_for('handicap_history_player', player_id=item.player_id.data),
                    image=url_for('static', filename='images/go.jpg'),
                    text='Show handicap history'
                )|safe }}
            </td>
    {% else %}
            <td>{{ item.player.data }}</td>
            <td align="center">{{ item.handicap.data }}</td>
            <td align="center">
                {{ render_link(
                    url=url_for('handicap_history_player', player_id=item.player_id.data),
                    image=url_for('static', filename='images/go.jpg'),
                    text='Show handicap history'
                )|safe }}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    <tr><td colspan=6><hr class="bold"/></td>
</table>
{% endblock %}