{% extends "user/report_base.html" %}
{% block title %}Handicap History {% endblock %}
{% block content %}
{{ form.csrf_token }}

<h1>Handicap history</h1>
<h2>{{ form.player.data }}</h2>

<table width="100%" class="list">
    <thead>
    <tr>
        <th align="left">Date</th>
        <th>Handicap</th>
        <th align="left">Status</th>
    </tr>
    <tr><td colspan=3><hr class="bold"/></td>
    </thead>
    <tbody>
    {% for item in form.history %}
    <tr height="23">
        <td>{{ item.date.data }}</td>
        <td align="center">{{ item.handicap.data }}</td>
        <td>{{ item.status.data }}</td>
    </tr>
    {% endfor %}
    <tr><td colspan=3><hr class="bold"/></td>
    </tbody>
</table>
{% endblock %}