{% extends "user/report_base.html" %}
{% block title %}Handicaps{% endblock %}
{% block content %}
<h2 class="table-title left">Handicaps</h2>
<h4 class="table-title right">{{ render_link(
                        url=url_for('static', filename='handicap system.htm'),
                        text='WAGS handicap system explained'
                        )|safe }}
</h4>
<table width="100%" class="list">
    <thead>
    <tr>
        <th align="left">Name</th>
        <th align="center">Handicap</th>
        <th align="center">History</th>
        <th align="left">Name</th>
        <th align="center">Handicap</th>
        <th align="center">History</th>
    </tr>
    <tr><td colspan=6><hr class="bold"/></td></tr>
    </thead>
    <tbody>
    {% for item in form.handicaps %}
    {% if item.item_pos.data == 2 %}
        <tr>
            <td>{{ item.player.data }}</td>
            <td align="center">{{ item.handicap.data }}</td>
            <td align="center">
                {{ render_link(
                    url=url_for_user('handicap_history_player', player_id=item.player_id.data),
                    image=url_for('static', filename='images/go.png'),
                    text='Show handicap history for ' + item.player.data
                )|safe }}
            </td>
    {% else %}
            <td>{{ item.player.data }}</td>
            <td align="center">{{ item.handicap.data }}</td>
            <td align="center">
                {{ render_link(
                    url=url_for_user('handicap_history_player', player_id=item.player_id.data),
                    image=url_for('static', filename='images/go.png'),
                    text='Show handicap history for ' + item.player.data
                )|safe }}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    <tr><td colspan=6><hr class="bold"/></td></tr>
    </tbody>

</table>
{% endblock %}