{% extends "user/base.html" %}
{% block page_content %}

<div class="page-header">
    <h2>Wags members area - {{ form.member_name.data }}</h2>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p><b>This is your personal area of the WagSite. The following options are available</b></p>
    <table class="table table-striped" width="100%">
        <tr>
            <td>Edit your details</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('edit_contact_details'),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
            <td style="width:50%">&nbsp;</td>
        </tr>
        <tr>
            <td>Show other member's details</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('show_contact_details', member_id=0),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>Your playing history</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('show_player_events', player_id=form.player_id.data),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>Your handicap history</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('handicap_history_player', player_id=form.player_id.data),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>Your account</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('show_member_account', year=form.year.data),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>Matches played (by member)</td>
            <td align="left">
                        {{ render_link(
                        url=url_for('players_summary'),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>{{ form.year.data - 1 }} Income Statement and Balance Sheet</td>
            <td align="left">
                        {{ render_link(
                        url=form.inc_bal_url.data,
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
        <tr>
            <td>Meeting minutes</td>
            <td align="left">
                        {{ render_link(
                        url=url_for_wags_site('minutes/'),
                        image=url_for('static', filename='images/go.png')
                        )|safe }}
            </td>
        </tr>
    </table>
    <hr/>
</form>
{% endblock %}