{% extends "user/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Minutes</h1>
</div>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <table>
        <tbody>
        <tr style="vertical-align:middle">
            <td><b>{{ form.minutes_type.label }}&nbsp;</b></td>
            <td>{{ form.minutes_type }}</td>
            <td>&nbsp;</td>
            <td><b>{{ form.minutes_year.label }}&nbsp;</b></td>
            <td>{{ form.minutes_year }}</td>
            <td>&nbsp;</td>
            <td>{{ form.select(class="btn btn-primary", style="height:25px;width:50px; padding:2px 2px;") }}</td>
        </tr>
        </tbody>
    </table>

    <table width="100%", class="list">
        <thead>
        <tr>
            <th align="left">Type</th>
            <th align="left">Date</th>
            <th style="text-align:center">Show</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">
                <hr class="bold"/>
            </td>
        </tr>
        {% for item in form.choices %}
        <tr>
            <td>{{ item.mtype.data }}</td>
            <td>{{ item.mdate.data }}</td>
            <td align="center">
                {{ render_link(
                url=item.mlink.data,
                image=url_for('static', filename='images/go.png'),
                text='Show minutes for ' + item.mdate.data,
                target=item.target.data
                )|safe }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <hr class="bold"/>
            </td>
        </tr>
        </tbody>
    </table>

</form>
{% endblock %}