{% extends "user/report_base.html" %}
{% block title %}Playing History {{ form.player.data }} {{ form.year.data}}{% endblock %}
{% block content %}
{{ form.csrf_token }}
<h2 class="table-title">Playing History {{ form.player.data }} {{ form.year.data}}</h2>
<table class="list">
    <tr>
        <th align="left">Date</th>
        <th align="left">Course</th>
        <th>Position</th>
        <th>Points</th>
        <th>Strokes</th>
        <th>Handicap</th>
        <th>Status</th>
    </tr>
    <tr><td colspan="7"><hr class="bold"/></td></tr>
    {% for item in form.history %}
    <tr>
        <td>{{ item.date.data }}</td>
        <td>{{ item.course.data }}</td>
        <td align="center">{{ item.position.data }}</td>
        <td align="center">{{ item.points.data }}</td>
        <td align="center">{{ item.strokes.data }}</td>
        <td align="center">{{ item.handicap.data }}</td>
        <td>{{ item.status.data }}</td>
    </tr>
    {% endfor %}
    <tr><td colspan="7"><hr class="bold"/></td></tr>
</table>
{% endblock %}