{% extends "user/report_base.html" %}
{% block title %}Events Played to date{% endblock %}
{% block content %}
{{ form.csrf_token }}
<h2>Events Played to date</h2>
<table class="table-list">
    <tr>
        <th>Player</th>
        <th>Status</th>
        <th text-align=center>Count</th>
        <th>First Game</th>
    </tr>
    <tr><td colspan="4"><hr></td></tr>
    {% for item in form.history %}
    <tr>
        <td>{{ item.player.data }}</td>
        <td>{{ item.status.data }}</td>
        <td text-align=center>{{ item.count.data }}</td>
        <td>{{ item.first_game.data }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
