{% extends "user/report_base.html" %}
{% block title %}The Beament Big Swing {{ form.year_span.data }}{% endblock %}
{% block content %}

<h2 class="table-title left">The Beament Big Swing {{ form.year_span.data }}</h2>
<h4 class="table-title right">{{ render_link(url=url_for('swing', year=year-1), text='&#x25C4;')|safe }}
        &nbsp; year &nbsp;
        {{ render_link(url=url_for('swing', year=year+1), text='&#x25BA;')|safe }}
</h4>
<img class="center" src="http://www.wags.org/pictures/swing.jpg" width="400" height="500" alt="The Beament Big Swing">
<table class="list result" width="100%">
    <thead>
    <tr>
        <th align="right">Position</th>
        <th align="left">Name</th>
        <th align="left">Course</th>
        <th align="left">Date</th>
        <th>Front</th>
        <th>Back</th>
        <th>Swing</th>
    </tr>
    <tr><td colspan=7><hr class="bold"/></td>
    </thead>
    <tbody>
    </tr>
    {% for item in form.swing %}
    <tr>
        <td align="right">{{ item.position.data }}</td>
        <td>{{ item.player.data }}</td>
        <td>{{ item.course.data }}</td>
        <td>{{ item.date.data }}</td>
        <td align="center">{{ item.points_out.data }}</td>
        <td align="center">{{ item.points_in.data }}</td>
        <td align="center">{{ item.swing.data }}</td>
    </tr>
    {% endfor %}
    <tr><td colspan=7><hr class="bold"/></td>
    </tbody>
</table>
{% endblock %}