{% extends "user/report_base.html" %}
{% block title %}Victor Ludorum {{ year }}{% endblock %}
{% block content %}
{{ form.csrf_token }}

<table width="100%">
    <tr>
        <td><h2 class="table-title left">Victor Ludorum {{ year }}</h2></td>
        <td><h4 class="table-title center">Trophy History{{ render_link(
            url=url_for_user('vl_history'),
            text='&#x25BA;'
            )|safe }}
        </h4></td>
        <td><h4 class="table-title right">
            {{ render_link(url=url_for_user('vl', year=year-1), text='&#x25C4;')|safe }} year
            {{ render_link(url=url_for_user('vl', year=year+1), text='&#x25BA;')|safe }}
        </h4></td>
    </tr>
</table>
&nbsp;
<table class="list result" width="100%">
    <thead>
    <tr>
        <th align="right">Position</th>
        <th align="left">Name</th>
        <th>Points</th>
        <th>Matches</th>
        <th>Lowest</th>
        <th align="center">Matches</th>
    </tr>
    <tr>
        <td colspan=6>
            <hr class="bold"/>
        </td>
    </tr>
    </thead>
    <tbody>
    {% for item in form.vl %}
    <tr>
        <td align="right">{{ item.position.data }}</td>
        <td align="left">{{ item.player.data }}</td>
        <td align="center">{{ item.points.data }}</td>
        <td align="center">{{ item.matches.data }}</td>
        <td align="center">{{ item.lowest.data }}</td>
        <td align="center">
            {{ render_link(
            url=url_for_user('show_player_events_for_year', player_id=item.player_id.data, year=form.year.data),
            image=url_for('static', filename='images/go.png'),
            text='View matches for ' + item.player.data
            )|safe }}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan=6>
            <hr class="bold"/>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}