{% extends "user/report_base.html" %}
{% block title %}Victor Ludorum {{ year }}{% endblock %}
{% block content %}
{{ form.csrf_token }}
<table width="100%">
    <tr>
        <td class="h2">Victor Ludorum {{ year }}</td>
        <td/>
        <td/>
        <td class="h4" colspan=3 align="right">
            {{ render_link(
            url=url_for('vl', year=year-1),
            text='&#x25C4;'
            )|safe }}
            &nbsp;
            year
            &nbsp;
            {{ render_link(
            url=url_for('vl', year=year+1),
            text='&#x25BA;'
            )|safe }}
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>
<table class="list result">
    <thead>
    <tr>
        <th align="right">Position</th>
        <th align="left">Name</th>
        <th>Points</th>
        <th>Matches</th>
        <th>Lowest</th>
        <th align="center">Matches</th>
    </tr>
    <tr><td colspan=6><hr class="bold"/></td>
    </thead>
    <tbody>
    </tr>
    {% for item in form.vl %}
    <tr>
        <td align="right">{{ item.position.data }}</td>
        <td align="left">{{ item.player.data }}</td>
        <td align="center">{{ item.points.data }}</td>
        <td align="center">{{ item.matches.data }}</td>
        <td align="center">{{ item.lowest.data }}</td>
        <td align="center">
            {{ render_link(
            url=url_for('show_player_events_for_year', player_id=item.player_id.data, year=form.year.data),
            image=url_for('static', filename='images/go.jpg'),
            text='View matches'
            )|safe }}
        </td>
    </tr>
    {% endfor %}
    <tr><td colspan=6><hr class="bold"/></td>
    </tbody>
</table>
{% endblock %}